<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Inicio</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container">
    <h1>Bienvenido Doctor</h1>
    <div class="botones">
      <a class="btn login" href="/login">Iniciar Sesión</a>
      <a class="btn register" href="/register">Registrarse</a>
    </div>
  </div>
</body>
</html>
